html {
    font-size: 0.7px;
}

.body {
    margin: 0rem;
    padding: 0rem;
    font-family: "Geometria";
    background-color: #fff;
    max-width: 100vw;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

button:hover {
    box-shadow: rgba(9, 155, 252, 0.9856) 2px 2px 2px 2px !important;
}

body h2,
h3,
p,
h4 {
    font-family: "Geometria";
}

.part1,
.part2,
.part3,
.part,
.part5,
.part6,
.part7 {
    display: flex;
    flex-direction: column !important;
    max-width: 320px;
}

body h2,
h3 {
    font-weight: 600;
}

.header,
.main {
    background-color: transparent;
    overflow: hidden;
    object-fit: cover;
}

.bc1 {
    position: absolute;
    z-index: -1;
    top: -70%;
    right: -30%;
    object-fit: cover;
}

.bc2 {
    position: absolute;
    z-index: -1;
    top: 900rem;
    left: -100rem;
}

.bc4 {
    position: absolute;
    z-index: -1;
    top: 4640rem;
    right: -370rem;
}

main h2 {
    font-size: 70.5rem;
    line-height: 74rem;
    color: #1a1a1a;
    font-weight: 600;
}

main h3 {
    font-weight: 600;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem 240rem;
    gap: 20rem;
    max-height: 60rem;
    overflow: hidden;
    margin-bottom: 35rem;
    max-width: 1510rem;
}

button {
    transition: 0.4s;
}

.wrapper {
    margin: 0rem auto;
    width: 100%;
    max-width: 1510rem;
    margin-left: auto;
    margin-right: auto;
    padding: 60rem 20rem 0;
}

.list-m {
    display: flex;
    flex-direction: row;
    gap: 54rem;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
   width: 210rem;
   height: 20rem;
   min-width:  200rem;
   min-height: 32rem;
}

.logo_1 {
    width: 100%;
    height: 100%;
}

.list-header {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 0rem 70rem 0rem 280rem;
}

.list-m li {
    padding: 0rem;
}

.list-m li a {
    text-decoration: none;
    font-size: 13rem;
    letter-spacing: 1rem;
    line-height: 85rem;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 500;
    font-family: "Geometria";
}

.social-logo {
    display: flex;
    flex-direction: row;
    gap: 20rem;
    align-items: center;
}

.part1 {
    margin-top: 50rem;
    padding-top: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 35rem;
    align-items: center;
    padding-left: 25rem;
    max-height: 800rem;
    margin-bottom: 260rem;
}

.part1 .text {
    max-width: 710rem;
    position: relative;
}

.part1 h1 {
    font-size: 70rem;
    line-height: 74rem;
    color: #1a1a1a;
    max-width: 700rem;
    min-width: 695rem;
    margin-left: 10rem;
    margin: 0;
}

.part1 h1::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 125rem;
    background-color: #0099ff;
    margin-right: 10rem;
    left: -25rem;
}

.part1 .span_part1 {
    font-size: 35rem;
    letter-spacing: 4rem;
    line-height: 40rem;
    color: #ffffff;
    font-weight: bold;
    -webkit-text-stroke: 2rem #0099ff;
    text-transform: uppercase;
}

.part1 .p2 {
    font-size: 18rem;
    line-height: 26rem;
    color: #2b2b2b;
    margin: 36rem 0;
}

.buttons .button1 {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 18rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0099ff;
    border: 2rem solid #0099ff;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.part1 .button1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(178, 221, 247, 0.842), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}

.part1 .button1:hover::before {
    top: 100%;
    left: 100%;
}

.buttons .button2 {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 18rem;
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: bold;
    background-color: #ffffff;
    border: 2rem solid #0099ff;
    margin-left: 28rem;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.part1 .button2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(0, 157, 255, 0.842), transparent);
    top: 100%;
    right: 100%;
    transition: all 0.5s ease;
}

.part1 .button2:hover::before {
    top: -100%;
    right: -100%;
}

.button2,
.button1 {
    padding: 0rem 65rem;
    border-radius: 26rem;
    text-decoration: none;
}

.part2 {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 85rem;
    align-items: center;
    max-height: 800rem;
    margin-bottom: 350rem;
}

.part2 h2 {
    font-size: 70rem;
    line-height: 70.2rem;
    color: #1a1a1a;
    margin: 0;
    max-width: 750rem;
}

.part2 h2::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 205rem;
    background-color: #0099ff;
    left: -25rem;
}

.part2 img {
    width: 100%;
    height: 100%;
}

.part2 .image {
    width: 520rem;
    height: 555rem;
}

.part2 p {
    font-size: 18rem;
    line-height: 26rem;
    color: #2b2b2b;
    max-width: 600rem;
    margin: 36rem 0;
}

.part2 .button2 {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 48rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0099ff;
    border: 2rem solid #0099ff;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.part2 .button2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(178, 221, 247, 0.842), transparent);
    top: -100%;
    right: -100%;
    transition: all 0.5s ease;
}

.part2 .button2:hover::before {
    top: 100%;
    right: 100%;
}

.part2 .text {
    max-width: 710rem;
    position: relative;
}

.part3 .h2_3 {
    font-size: 70rem;
    line-height: 70.5rem;
    color: #1a1a1a;
    max-width: 650rem;
    padding-left: 25rem;
}

.part3 h2::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 130rem;
    background-color: #0099ff;
    left: -0;
}

.part3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 70rem;
    align-items: center;
    position: relative;
    margin-bottom: 300rem;
}

.part3 h3 {
    font-size: 20rem;
    letter-spacing: 2rem;
    line-height: 25rem;
    text-transform: uppercase;
    color: #0099ff;
    font-weight: bold;
}

.part3 p {
    max-width: 688rem;
    height: 69rem;
    font-size: 18rem;
    line-height: 26rem;
    color: #2b2b2b;
}

.part3 .button_3 {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 48rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0099ff;
    border: 2rem solid #0099ff;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.part3 .button_3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(178, 221, 247, 0.842), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}

.part3 .button_3:hover::before {
    top: 100%;
    left: 100%;
}

.part4 h2 {
    font-size: 70rem;
    line-height: 74rem;
    color: #1a1a1a;
    text-align: center;
}

.part4 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.part4 button {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 48rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0099ff;
    border: 2rem solid #0099ff;
    border-radius: 50rem;
    padding: 0rem 70rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.bbutton {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.part4 button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(178, 221, 247, 0.842), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}

.part4 button:hover::before {
    top: 100%;
    left: 100%;
}

.part4 p {
    max-width: 240rem;
    font-size: 18rem;
    line-height: 26rem;
    color: #2b2b2b;
    text-align: center;
}

.part4 h3 {
    font-size: 20rem;
    letter-spacing: 2rem;
    line-height: 26rem;
    text-transform: uppercase;
    color: #1a1a1a;
    font-weight: bold;
    max-width: 240rem;
    text-align: center;
    margin: none;
}

.part4 .cards,
.bbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.part4 .figure_1,
.figure_2,
.figure_3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.part4 svg {
    display: block;
    align-self: center;
}

.part5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 115rem;
    margin-top: 250rem;
}

.part5 .imgga {
    width: 520rem;
    height: 555rem;
}

.part5 .text {
    max-width: 560rem;
}

.part5 h2 {
    font-weight: 600;
    position: relative;
    margin-bottom: 50rem;
}

.part5 h2::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 135rem;
    background-color: #0099ff;
    left: -25rem;
}

.part5 .p_5 {
    font-size: 21rem;
    line-height: 24rem;
    color: #2b2b2b;
    margin-bottom: 50rem;
}

.part5 .comment h3 {
    font-size: 20rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    text-transform: uppercase;
    color: #0099ff;
    font-weight: 600;
    margin: 0rem;
}

.part5 .p_2_5 {
    font-size: 18rem;
    letter-spacing: 1rem;
    line-height: 24rem;
}

.part5 .left {
    position: absolute;
    left: -25rem;
}

.part5 .text {
    position: relative;
}

.part6 .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 170rem;
    grid-row-gap: 60rem;
}

.part6 .mg {
    width: 180rem;
    height: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part6 {
    display: flex;
    margin-top: 200rem;
    justify-content: center;
    margin-bottom: 300rem;
}

.part7 button {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 16rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0099ff;
    border: 2rem solid #0099ff;
    border-radius: 50rem;
    padding: 16rem 70rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.part7 button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(178, 221, 247, 0.842), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}

.part7 button:hover::before {
    top: 100%;
    left: 100%;
}

.part7 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 200rem;
    gap: 90rem;
}

.part7 .text {
    margin-right: 25rem;
}

.part7 .h2_7 {
    max-width: 620rem;
    position: relative;
    left: 25rem;
    margin-bottom: 70rem;
    font-size: 48rem;
    line-height: 52rem;
}

.part7 img {
    max-width: 800rem;
    height: auto;
}

.part7 .h2_7::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 104rem;
    background-color: #0099ff;
    left: -25rem;
}

.part7 button:hover {
    background-color: #139efc;
    border: 2rem solid #18a0fa;
}

.footer .footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 120rem;
    margin-bottom: 45rem;
}

.footer {
    padding: 70rem 200rem;
    background-color: #001726;
    padding-bottom: 0;
}

.footer .boss p {
    font-size: 14rem;
    color: #ffffff;
    font-weight: 300;
    position: relative;
    margin: 0;
}

.footer .boss {
    max-width: 220rem;
}

.footer .boss img {
    margin-bottom: 30rem;
}

.footer .boss p::before {
    content: "";
    position: absolute;
    width: 160rem;
    height: 1rem;
    background-color: #0099ff;
    top: -15rem;
}

.footer h2 {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 26rem;
    text-transform: uppercase;
    color: #0099ff;
    font-weight: 600;
    margin: 0rem;
    margin-bottom: 15rem;
}

.footer ul {
    font-size: 14rem;
    line-height: 22rem;
    color: #ffffff;
    font-weight: 300;
    list-style: none;
}

.footer-info .TOUCH {
    padding: 0;
}

.footer-info ul li {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.footer-info ul .lii {
    max-width: 113rem;
}

.footer-info svg {
    min-height: 16rem;
    min-width: 16rem;
}

.footer-info .touch_ul {
    padding: 0;
}

.footer-info .TOUCH ul {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.footer-info .TOUCH p {
    padding: 0;
    margin: 0;
}

.footer .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer .links ul {
    padding: 0;
    margin: 0;
}

.footer button {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 30rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0099ff;
    border: 2rem solid #0099ff;
    border-radius: 50rem;
    padding: 0rem 40rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.footer button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(178, 221, 247, 0.842), transparent);
    top: -100%;
    right: -100%;
    transition: all 0.5s ease;
}

.footer button:hover::before {
    top: 100%;
    right: 100%;
}

input {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 30rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    border: 0.5rem solid #ffffff;
    border-radius: 50rem;
    padding: 0rem 40rem;
    transition: 0.4s;
}

input:hover {
    border: 0.5rem solid #9c9c9c;
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 14rem;
    font-weight: 300;
    text-transform: none;
}

input::placeholder:hover {
    color: #cecece;
}

.footer-info .buttons {
    display: flex;
    gap: 20rem;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.email h2 {
    margin: 0;
}

.email .social-logo-footer {
    display: flex;
    flex-direction: row;
    gap: 35rem;
}

.footer .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.612;
    font-size: 14rem;
    color: #ffffff;
    font-weight: 300;
    position: relative;
}

.footer .footer-bottom p {
    display: flex;
    align-items: center;
}

.footer .footer-bottom::before {
    width: 100%;
    height: 1rem;
    display: block;
    background-color: #fff;
    opacity: 0.612;
    content: "";
    position: absolute;
}

.footer .footer-bottom .ul_bottom {
    display: flex;
    flex-direction: row;
    gap: 45rem;
}

.menu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform: translateY(-100%);
    background-color: rgba(0, 85, 141, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    text-align: center;
}

.menu-button {
    width: 50px;
    height: 8px;
    min-width: 30px;
    min-height: 8px;
    background-color: #bbe3fd;
    border-radius: 50px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: #bbe3fd;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: -14px;
}


.menu-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: #bbe3fd;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -14px;
}

.menu.active {
    transform: translateY(0%);
}

.list-button {
    list-style: none;
}

.menu li {
    padding: 0rem;
}

.menu li a {
    text-decoration: none;
    font-size: 24rem;
    letter-spacing: 1.5rem;
    line-height: 85rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Geometria";
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.8px;
    }

    .part1,
    .part2,
    .part3,
    .part4,
    .part5,
    .part6,
    .part7 {
        max-width: 720px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 1px;
    }

    .menu-button,
    .menu {
        display: none;
    }

    .list-header {
        display: flex;
    }

    .part1,
    .part2,
    .part3,
    .part5,
    .part6,
    .part7 {
        max-width: 1100px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.00px;
    }

    .part1,
    .part2,
    .part3,
    .part5,
    .part6,
    .part7 {
        display: flex;
        flex-direction: row !important;
    }

    .part1,
    .part2,
    .part3,
    .part5,
    .part6,
    .part7 {
        display: flex;
        flex-direction: row !important;
        max-width: 1820px;
    }

    .part7 {
        gap: 280px;
    }
}

@media screen and (min-width: 2260px) {
    html {
        font-size: 1.5px;
    }

    .part1,
    .part2,
    .part3,
    .part5,
    .part6,
    .part7 {
        display: flex;
        flex-direction: row !important;
    }

}